<% provide(:title, @user.name) %>

<div class="container">
  <figure class="avatar">
    <%= gravatar_for @user, size: 120 %>
  </figure>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
      <th>登録日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @user.id %></th>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.created_at %></td>
      <td><%= @user.updated_at %></td>
    </tr>
  </tbody>
</table>

<div class="col-md-8">
  <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
  <% end %>
</div>

</div>
